* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

body::before {
    content: "";
    position: absolute ;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(174deg, #879af2 52%, #d3208b 48%, #fda000 110%);
}
.box {
    position: relative;
    z-index: 1;
    width: 400px;
    height: 400px;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.container {
    position:relative;
}

.container::before {
    content: "";
    position: absolute;
    bottom: -150px;
    width: 100%;
    height: 6px;
    background: radial-gradient(rgba(0,0,0,0.2), transparent, transparent);
    border-radius: 50%;
    
}